/build
/dist
/EFK_env
/__pycache__
config/EFKLauncher/config.json
/EFK/__pycache__
EFK Launcher.exe
/EFKLauncher
/EFK.build
/EFK.dist
/EFK.onefile-build
EFK Launcher
.vscode/settings.json
programmeMatthieu.py
.vscode/launch.json
/.idea
